h1,
h3,
p,
li {
  font-size: 30 px;
  font-family: "Times New Roman", Times, serif;
}
p {
  font-family: garamond serif;
  font-style: italic;
  font-weight: 700;
}
h1,
h3 {
  font-weight: bold;
  color: crimson;
}
h3 {
  font-style: italic;
  text-shadow: 2px 2px 5px rgb(13, 224, 168);
}
h1 {
  color: purple;
}
body {
  background-color: #f0e8e8;
  border-right: 5px solid #121111;
  border-left: 5px solid #121111;
}
.item-container {
  border: 5px solid #121111;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  width: 320px;
  font-size: 20px;
  background-color: antiquewhite;
  padding: 0.5em 0.5em;
  justify-content: space-between;
}
.title {
  display: flex;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.main-heading {
  background-color: black;
  border: 5px solid antiquewhite;
  padding: 0.5em 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-heading > a {
  all: unset;
  cursor: pointer;
  color: white;
}

.main-heading span a {
  font-size: 1.5rem;
  cursor: pointer;
}

#add-recipie {
  display: flex;
  flex-direction: column;
}
button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.auth-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 255, 255, 0.833);
  padding: 2em;
  height: 100%;
  /* max-height: 600px; */
  width: 1000px;
  background-color: hsla(200, 40%, 30%, 0.4);
  background-image: url("https://78.media.tumblr.com/cae86e76225a25b17332dfc9cf8b1121/tumblr_p7n8kqHMuD1uy4lhuo1_540.png"),
    url("https://78.media.tumblr.com/66445d34fe560351d474af69ef3f2fb0/tumblr_p7n908E1Jb1uy4lhuo1_1280.png"),
    url("https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png"),
    url("https://78.media.tumblr.com/5ecb41b654f4e8878f59445b948ede50/tumblr_p7n8on19cV1uy4lhuo1_1280.png"),
    url("https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png");
  background-repeat: repeat-x;
  background-position: 0 20%, 0 100%, 0 50%, 0 100%, 0 0;
  background-size: 2500px, 800px, 500px 200px, 1000px, 400px 260px;
  animation: 50s para infinite linear;
}

@keyframes para {
  100% {
    background-position: -5000px 20%, -800px 95%, 500px 50%, 1000px 100%,
      400px 0;
  }
}

.center {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
a:link {
  text-transform: uppercase;
  text-decoration: none;
}

a:hover {
  color: rebeccapurple;
  font-weight: bold;
  text-decoration: dotted underline;
  cursor: pointer;
  background-color: rgba(250, 235, 215, 0.89);
  padding: 0.5em 0.5em;
  width: fit-content;
}
img {
  border: 5px solid black;
  border-radius: 8px;
}
li {
  font-family: garamond serif;
  color: rgb(190, 62, 15);
  font-style: italic;
}
